<p>
    pregnancy-care works!
</p>
<ion-card class="hel">
    <ion-card-header>
        <ion-card-title>Health Coach Program - Dedicated Nutritionist</ion-card-title>
        <ion-card-subtitle>We offer various health plans which meets everyone’s requirements.
        </ion-card-subtitle>
    </ion-card-header>
</ion-card>
<ion-card>
    <ion-item>
        <ion-icon name="medkit-outline" slot="start"></ion-icon>
        <ion-badge color="tertiary">Anxiety Coach Program</ion-badge>
    </ion-item>
    <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select>
            <ion-option value="f">Female</ion-option>
            <ion-option value="m">Male</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Age</ion-label>
        <ion-select>
            <ion-option value="f">10-20</ion-option>
            <ion-option value="m">20-35</ion-option>
            <ion-option value="m">35-50</ion-option>
            <ion-option value="m">50-70</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Toppings</ion-label>
        <ion-select multiple="true">
            <ion-option>Bacon</ion-option>
            <ion-option>Black Olives</ion-option>
            <ion-option>Extra Cheese</ion-option>
            <ion-option>Mushrooms</ion-option>
            <ion-option>Pepperoni</ion-option>
            <ion-option>Sausage</ion-option>
        </ion-select>
    </ion-item>
    <ion-item href="#">
        <ion-icon name="medical-outline" slot="start"></ion-icon>
        <ion-badge color="secondary">Pregnancy Care</ion-badge>
    </ion-item>
    <ion-item href="#">
        <ion-icon name="medkit-outline" slot="start"></ion-icon>
        <ion-badge color="tertiary">Smoking Cessation</ion-badge>
    </ion-item>
    <ion-item href="#">
        <ion-icon name="medical-outline" slot="start"></ion-icon>
        <ion-badge color="secondary">Fitness Regime</ion-badge>
    </ion-item>
    <ion-item href="#">
        <ion-icon name="medkit-outline" slot="start"></ion-icon>
        <ion-badge color="tertiary">Balance Your Chakras - Meditation sessions</ion-badge>
    </ion-item>
    <ion-item href="#">
        <ion-icon name="medical-outline" slot="start"></ion-icon>
        <ion-badge color="secondary">Disease management</ion-badge>
    </ion-item>
    <ion-item href="#">
        <ion-icon name="medkit-outline" slot="start"></ion-icon>
        <ion-badge color="tertiary">Covid Management Plan</ion-badge>
    </ion-item>
</ion-card>
